<div class="jumbotron text-center">
  <img [src]="pais.flag" alt="" class="img-thumbnail rounded mx-auto d-block" [style.width.px]="250"
    [style.height.px]="150">
  <h3 class="display-4">{{ pais.name }}</h3>
  <p>({{ pais.capital }})</p>
</div>

<div class="row">
  <div class="col-4">
    <div class="card">
      <div class="card-header">
        Info
      </div>
      <ul class="list-group list-group-flush">
          <li class="list-group-item">Region: {{ pais.region }} - {{ pais.subregion }}</li>
        <li class="list-group-item">Population: {{ pais.population }}</li>
        <li class="list-group-item">Lenguage: {{ pais.languages[0].name }}</li>
        <li class="list-group-item">Currency: {{ pais.currencies[0].name }}</li>
        <li class="list-group-item">Area: {{ pais.area }} m²</li>
        <li class="list-group-item">Latitude: {{ pais.latlng[0] }}  Longitude: {{ pais.latlng[1] }}</li>
      </ul>
    </div>
  </div>
  <div class="col-8">
    <div class="card">
      <app-maps [lat]="pais.latlng[0]" [lng]="pais.latlng[1]"></app-maps>
    </div>
  </div>
</div>