<ul class="list-group">
  <ng-container *ngFor="let lugar of lugares">
    <li class="list-group-item">
      <a [routerLink]="['detalle', lugar.id]"> {{ lugar.nombre }} </a>
    </li>
  </ng-container>
</ul>