<div class="row">
  <div class="col-12">
    <div class="input-group mb-3">
      <input type="text" class="form-control" placeholder="Search Countries..." aria-label=""
        aria-describedby="basic-addon2" [(ngModel)]="querySearch">
      <div class="input-group-append">
        <button class="btn btn-outline-secondary" type="button" (click)="searchPais()">Search</button>
      </div>
    </div>
  </div>
  <div class="col-4">
    <h2>Regions</h2>
    <ul class="list-group pt-3">
      <li class="list-group-item" *ngFor="let continente of continentes">
        <a [routerLink]="" (click)="getPaisesByRegion(continente.stringCodeRegion)"> {{ continente.nombre }} </a>
      </li>
    </ul>
  </div>
  <div class="col-8">
    <h2>Countries</h2>
    <div class="row pt-3">
      <div class="alert alert-secondary col-12" role="alert" *ngIf="!paises && !loading">
        Choose a region or search a country...
      </div>
      <app-loading *ngIf="loading" class="col-12"></app-loading>
      <ng-container *ngIf="!loading">
        <div class="col-4" *ngFor="let pais of paises">
          <div class="card text-center">
            <div class="card-body">
              <img [src]="pais.flag" alt="" class="img-thumbnail" [style.width.px]="150" [style.height.px]="100">
            </div>
            <div class="card-footer text-muted" [style.fontSize.px]="14">
              <a [routerLink]="['detail', pais.alpha3Code | lowercase]"> {{ pais.name }} </a>
            </div>
          </div>
        </div>
      </ng-container>
    </div>
  </div>
</div>